.headings {
    text-align: center;
}
.secondHeading {
    padding-top: 20px;
}
.postContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
}
.tinylinksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.child{
    margin: 15px 0px;
}
.containerlogo{
    position: relative;
}
.logokas{
    bottom: -95px;
    width: 24vw;
    position: absolute;
    left: 5vw;
}
.path{
    fill:none;
    stroke:#fff;
    stroke-linecap:square;
    stroke-width:1.8px;
}
.menu{
    align-self: center;
    flex: 0 0 44px;
    height: 44px;
    max-width: 44px;align-self: center;
    flex: 0 0 44px;
    height: 44px;
    max-width: 44px;
}
.latestlink {
    color: #111;
    display: block;
    text-decoration: none;
    width: 180px;
    float: right;
    margin-top: -50px;
}
.arrowsvg {
    display: block;
}
.mobilearrowsvg {
    display: none;
}
.sectionlinks {
    align-items: center;
    background-color: #fff;
    border-bottom: solid 2px #111;
    border-top: solid 2px #111;
    display: flex;
    flex: 0 0 100%;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 11px 0 7px;
    font-size: 24px;
}
.sectionlink::before {
    border-left: 1px solid #020303;
    bottom: 0;
    content: '';
    left: -12px;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.sectionlink {
    color: #000;
    display: block;
    font-family: 'Elderkin','Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0 0 0 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.sectionlinklogout{
    color: #000!important;
    display: block;
    font-family: 'Elderkin','Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0 0 0 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 15px !important;
}
.sectionlinklogout::before {
    border-left: 1px solid #020303;
    bottom: 0;
    content: '';
    left: -12px;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.sectionlinkportfolio {
    color: #000;
    display: block;
    font-family: 'Elderkin','Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0 5px 0 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.sectionlinkportfolio::before {
    border-left: 1px solid #020303;
    bottom: 0;
    content: '';
    left: -12px;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.sectionlink:last-child{
    margin-right: 5px;
}
.sectionlinklast {
    color: #000;
    display: block;
    font-family: 'Elderkin','Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0 0 0 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    cursor: pointer;
}
.sectionlinklast:hover {
    color:#00bff3;
} 
.sectionlinkblue {
    color: #000;
    display: block;
    font-family: 'Elderkin','Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0 5px 0 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #00bff3 !important;
    margin-left: 15px!important;
    cursor: pointer;
}
.sectionlinkblue:before {
    border-left: 1px solid #020303;
    bottom: 0;
    content: '';
    left: -12px;
    overflow: hidden;
    position: absolute;
    top: 0;
} 
.image:after {
    background-image: url(https://assets.nymag.com/media/sites/vulture/squiggle-hr.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 128px 4px;
    content: '';
    display: block;
    height: 11px;
    margin: 0 auto;
    width: 244px;
    margin-top: 30px;
}
.listitem{
    justify-content: center!important;
}
.tinylinks{
    letter-spacing: '0.25px';
    display: block;
    font-size: 14px;
    line-height: 1;
    white-space: initial;
    width: 100%;
    border-top: solid 1px #00bcf1;
    border-left: none;
    border-top: solid 1px #00bcf1;
    width: 120px;
    text-align: center!important;
    padding: 15px 0px 0px;
    background-color: 'transparent'!important;
}
.tinylinks:hover{
    color:#00bff3;
}
.desktopill{
    fill: black
}
.desktopbfill{
    fill: #231f20
}
.arrowblack{
    fill:#00bff3;
    stroke:black;
}
.arrowsvg:hover .desktopill{
    fill:white;
}
.arrowsvg:hover .desktopbfill{
    fill:#00bff3;
}
.arrowsvg:hover .arrowblack{
    fill:black
}
.sectionlink:hover{
    color:#00bff3;
}
.svgaccessibilitytitle {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
@media screen and (max-width: 1300px){
    .laterallinks{
        display: none;
    }
    .logokas{
        display: none;
    }
    .card{
        width: 100%;
        height: auto;
    }
    .container {
        left: 36%;
        
    }
}
@media screen and (max-width: 1030px){
    .arrowsvg {
        display: none;
    }
}
.arrowside{
    margin-top: -50px;
}
.dropdownbody{
    max-height: 710px;
    border: 1px solid #bdbdbd;
    width: 375px;
}
.dropdown{
    border: 1px solid #bdbdbd;
    left: -21px;
    width: 375px;
    background: white;
    position: absolute;
}
.buttontrigger{
    display: block;
    height: 34px;
    width: 34px;
}
.open .hamburger {
    display: none;
}
.close{
    display: block;
}
.dropdownbody{
    z-index: 100;
}
.menus:active{
    fill:#00bff3;stroke:#00bff3;
}
.menus:hover{
    fill:#00bff3;stroke:#00bff3;
}
.menusvg{
    fill:none;stroke:#fff;stroke-linecap:square;stroke-width:1.8px;
}
.social{
    display: flex;
}
.services{
    align-items: center;
    justify-content: center;
}
.follow_circle{
    background: 0 0;
    border: none;
    cursor: pointer;
    height: 39px;
    padding: 0;
    width: 39px;
}
.button{
    margin: 0 10px;
}
.sites{
    display: flex;
    flex-flow: column wrap;
    max-height: 200px;
}
.site{
    list-style: none;
}